@font-face {
    font-family: 'MEGAPACK';
    src:  url('fonts/MEGAPACK.eot?lo76bi');
    src:  url('fonts/MEGAPACK.eot?lo76bi#iefix') format('embedded-opentype'),
      url('fonts/MEGAPACK.ttf?lo76bi') format('truetype'),
      url('fonts/MEGAPACK.woff?lo76bi') format('woff'),
      url('fonts/MEGAPACK.svg?lo76bi#MEGAPACK') format('svg');
    font-weight: normal;
    font-style: normal;
  }
body {
  font-family: 'Open Sans',sans-serif !important;
}
h1 {
  font-size: 48px !important;
  line-height: 77px !important;
}
h2 {
  font-size: 36px !important;
  line-height: 58px !important;
}
.nav-item:hover .dropdown-menu {
  display: block;
}
.section {
  background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)),url(https://pixfort.com/items/1/images/ebook/intro-bg-ebook.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.ebook-introduce {
  padding: 60px 19%;
}
.title-ebook-introduce {
  margin-bottom: 30px;
  padding: 0px 6%;
}
.big-text {
  font-size: 16px;
  line-height: 26px;
}
