body {
  font-family: 'Open Sans',sans-serif !important;
}
h1 {
  font-size: 48px !important;
  line-height: 77px !important;
}
h2 {
  font-size: 36px !important;
  line-height: 58px !important;
}
.nav-item:hover .dropdown-menu {
  display: block;
}
.section {
  background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)),url(https://pixfort.com/items/1/images/ebook/intro-bg-ebook.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.ebook-introduce {
  padding: 60px 19%;
  background-color: #f4f4f4;
}
.title-ebook-introduce {
  margin-bottom: 30px;
  padding: 0px 6%;
}
.big-text {
  font-size: 16px;
  line-height: 26px;
}
.big-text-20 {
    font-size: 20px;
    line-height: 32px;
}
.newbook {
    padding-top: 40px;
}
.newbook h1 {
    padding: 10px 25%;
    line-height: 56px !important;
}
.newbook p {
    padding: 0px 24%;
}
.button-get-book {
    padding: 10px 40px !important;
}
.get-book p {
  padding: 0 18%;
}
.bottom-sell-book {
  margin: 20px 15%;
  padding: 30px 6%;
}
.sell-book {
  padding: 60px 14%;
}
.sell-book h1 {
  padding: 0px 24%;
  line-height: 56px !important;
}
.paragraph-top {
  padding: 0px 22%;
}
.vid-made-book {
  padding-left: 7%;
}
.made-book h1{
  line-height: 56px !important;
}
.icon-contact {
  font-size: 26px;
}
.icon-contact .fa {
  padding-right: 8px;
}
.author-book .container {
  padding: 60px 13%;
}
.answer-question {
  padding: 40px 24%;
}
.footer {
  padding: 40px 0px;
}