@font-face {
    font-family: 'MEGAPACK';
    src:  url('fonts/MEGAPACK.eot?lo76bi');
    src:  url('fonts/MEGAPACK.eot?lo76bi#iefix') format('embedded-opentype'),
      url('fonts/MEGAPACK.ttf?lo76bi') format('truetype'),
      url('fonts/MEGAPACK.woff?lo76bi') format('woff'),
      url('fonts/MEGAPACK.svg?lo76bi#MEGAPACK') format('svg');
    font-weight: normal;
    font-style: normal;
  }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
}
h1 {
    font-size: 48px;
    line-height: 77px;
    color: #444;
    margin: 0px;
}
h3 {
    font-size: 28px;
    line-height: 45px;
    color: #444;
    margin: 0px;
}
h4 {
    font-size: 24px;
    line-height: 38px;
    margin: 0px;
    color: #444;
}
h5 {
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    color: #444;
}
p {
    color: #888;
}
body {
    font-family: 'Open Sans',sans-serif !important;
}
.header {
    display: flex;
    color: #999;
    padding: 12px 18%;
}
.menu-header {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-left: 30%;
}
.menu-header>a {
    text-decoration: none;
    padding-right: 30px;
}
.menu-header a:visited {
    color: #999;
}
.list-dropdown {
    list-style: none;
    position: absolute;
    display: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    padding: 15px 60px 10px 15px;
    margin-left: -14px;
    line-height: 35px;
    background-color: #fff;
    font-weight: 500;
}
.in-menu-header:hover .list-dropdown {
    display: block;
}
.in-menu-header {
    padding-top: 10px;
    padding-right: 20px;
    font-size: 14px;
}
.text-purchase {
    text-decoration: none;
    color: #FDBD10;
    line-height: 40px;
    font-size: 15px;
    border: 3px solid #FDBD10;
    border-radius: 3px;
    padding: 6px 15px;
    margin-left: 30px;
}
.section {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)),url(https://pixfort.com/items/1/images/ebook/intro-bg-ebook.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0px 18%;
}
.section h2 {
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    font-size: 36px;
    line-height: 58px;
    margin: 0px;
}
.section p {
    color: #cbbc94;
    line-height: 26px;
}
.content-section {
    padding-right: 6%;
    padding-top: 40px;
}
.form-control {
    padding: 13px 60% 13px 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 3px;
}
.button-section {
    font-size: 14px;
    color: #fff;
    background-color: #fdbd10;
    border: none;
    border-radius: 3px;
    padding: 15px 33%;
    margin: 10px 0px;
}
.ebook-title h1{
    text-align: center;
    padding: 0px 68px;
}
.bottom-ebook {
    display: flex;
    justify-content: space-around;
}
.ebook-introduce {
    padding: 60px 18%;
    background-color: #f4f4f4;
}
.in-bottom-ebook {
    flex-basis: 46%;
    font-size: 16px;
    line-height: 26px;
}
.book-start {
    text-align: center;
    padding: 40px 31% 0px 31%;
}
.book-start h1 {
    line-height: 56px;
}
.book-start p {
    font-size: 20px;
    line-height: 32px;
}
.flex-chapter {
    display: flex;
    justify-content: space-between;
}
.chapter {
    padding-left: 20%;
    padding-right: 25%;
    padding-bottom: 40px;
}
.in-get-book {
    text-align: center;
    padding: 40px 24%;
}
.paragraph-get-book {
    padding: 0px 5%;
}
.text-eBook {
    text-decoration: none;
    color: #FDBD10;
    border: 3px solid #FDBD10;
    padding: 15px 40px;
}
.in-get-book p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
}
.get-book {
    background-color: #f4f4f4;
    margin-bottom: 60px;
}
.image-get-book {
    margin: 30px 0;
}
.bottom-sell-book {
    display: flex;
    justify-content: space-around;
}
.sell-book {
    text-align: center;
    padding: 60px 20%;
}
.eBook-Orginal {
    background-color: #f4f4f4;;
}
.top-sell-book {
    padding: 0px 20%;
}
.top-sell-book p {
    font-size: 20px;
    line-height: 32px;
}
.eBook-cost {
    flex-basis: 35%;
    padding: 30px 30px 50px 30px;

}
.sell-book .purchase {
    text-decoration: none;
    border: 3px solid;
    padding: 10px 40px;
}
.sell-book .purchase-left {
    color: #f7941d;
}
.sell-book .purchase-right {
    color: #82B541;
}
.bottom-sell-book p {
    margin-bottom: 40px;
}
video {
    width: 20%;
}
.in-made-eBook {
    display: flex;
    justify-content: space-around;
}
.made-eBook {
    padding: 85px 18%;
}
.content-made-eBook {
    flex-basis: 49%;
}
.text-made-eBook h1 {
    line-height: 58px;
}
.author-book {
    padding: 40px 25%;
    text-align: center;
}
.author-book img {
    border-radius: 50%;
}
.author-book h6 {
    color: #fdbd10;
    font-size: 16px;
    line-height: 26px;
    margin: 0px;
}
.author-book p {
    line-height: 26px;
}
.icon-contact {
    font-size: 26px;
    color: #bbb;
}
.icon-contact i {
    padding-right: 5px;
}
.title-answer-question {
    text-align: center;
    padding: 0 13%;
}
.answer-question {
    padding: 60px 26%;
}
.title-answer-question p {
    font-size: 20px;
    line-height: 32px;
}
.content-footer {
    display: flex;
    justify-content: space-around;
}
.footer {
    padding: 40px 17%;
}
.in-footer {
    flex-basis: 30%;
}
.footer p {
    font-size: 14px;
    line-height: 22px;
}